# Modelos y pesos
*.pt
*.weights
*.onnx

# Videos mp4 en demos
src/demos/*.mp4

*.json
*.class
microservices/basura-deteccion-service/target/classes/com/trash_segmentation/basura_deteccion_service/*.class